%nav.header{:role => "navigation"}
  .container-fluid
    .header-logo
      %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Pageantus", root_path, class: 'navbar-brand'
    #navbar-collapse.collapse.navbar-collapse
      %ul.header-links
        %li
          = link_to 'About', page_path(:about)
        %li
          = link_to 'FAQ', page_path(:faq)

      = render 'partials/sign_in_and_log_out'
