html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    padding-bottom: 100px;
}

.page{
    min-height: 100%;
    position: relative;
}

footer{
    bottom: 0 !important;
    position: absolute !important;
    width: 100%;
}

footer.navbar{
    margin-bottom: 0;
}